body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    width: 100%;
    background-color: #EDEDED;
    box-shadow: 0 5px 5px gray;
    display: block;
}

.logo-container {
    position: relative;
    background: linear-gradient(90deg, rgba(101,78,163,1) 0%, rgba(234,175,200,1) 100%);
    border-radius: 10px;
    margin: 0 auto;
    top: 22px;
    width: 277px;
    padding: 0 7px;
    box-shadow: 0 5px 5px gray;
}

.logo {
    color: white;
    font-weight: 600;
    font-size: 48px;
}

main {
    width: 900px;
    margin: 0 auto;
}

.info {
    margin-top: 50px;
    display:block;
}

.input-label {
    display: block;
    margin-top: 3%;
}

.input-container {
    width: 900px;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(101,78,163,1) 0%, rgba(234,175,200,1) 100%);
    margin: 0 auto;
    padding: 5px 10px;
}

.input-text {
    width:893px;
}

.checkbox {
    margin-top: 2%;
    box-shadow: 0 5px 5px gray;
}

.checkbox~label {
    position: relative;
    top:1px;
}

.input-button {
    font-weight: 600;
    font-size: 24px;
    color: white;
    display: block;
    margin: 20px auto;
    padding: 0 20px;
    border-radius: 3px;
    border: 0 solid gray;
    box-shadow: 0 5px 5px gray;
    background: linear-gradient(90deg, rgba(101,78,163,1) 0%, rgba(234,175,200,1) 100%);
}